.screen-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
  background-color: var(--main-color);
  position: sticky;
  top: 27px;
  left: 0;
  right: 0;
  width: 100%;
  box-sizing: border-box;

  background-color: white;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 25px;
  position: relative;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-gear:hover {
  animation: rotateCog 1s linear infinite;
}
