.screen-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--horizontal-space);
  background-color: var(--main-color);
  position: sticky;
  top: 27px;
  left: 0;
  right: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  margin: 0 auto;
}
.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 25px;
}
